// 메인
.ListWarp {
  border: 2px solid black;
  height: 100vh;
}

// 네브바
.ListNav_Wrap {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  margin: 0 500px 0 500px;
}
.ListNav_right {
  display: flex;
}
// 포스팅 이미지
.ListImg {
  border: 2px solid black;
  height: 500px;
  margin: 0 500px 0 500px;
}
// 컨텐츠
.ListContentWrap {
  margin: 0 500px 0 500px;
  border: 2px solid blue;
}
.ListContentNav {
  display: flex;
}
.ListContent_content {
  display: flex;
}
