.ProfileBottomContainer {
  display: flex;
  flex-direction: column;
  max-width: 935px;
  margin: auto;
}

.ProfileBottomNavBar {
  display: flex;
  width: 100%;
  margin-top: 40px;
  flex-direction: row;
  border-top: 1px solid rgba($color: #bdbdbd, $alpha: 0.5);
  justify-content: center;
  gap: 50px;
}

.ProfileIconMargin {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.ProfileBottomNavBarIcon {
  padding-top: 2px;
  font-size: 14px;
}

.ProfileBottomNavBarPost1 {
  width: 70px;
  height: 40px;
  font-size: 15px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: 10px;
}

.ProfileBottomNavBarPost2 {
  width: 70px;
  height: 40px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: 11px;
  opacity: 0.5;
}

.ProfileBottomNavBarLike1 {
  width: 70px;
  height: 40px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: 11px;
  opacity: 0.5;
}

.ProfileBottomNavBarLike2 {
  width: 70px;
  height: 40px;
  font-size: 15px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: 10px;
}
