.MainPostForm_Container {
  // background-color: rgb(233, 206, 206);
  height: 100%;
  flex-direction: column;
  //   메인 헤더
  .Title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(223, 222, 222);
    width: 100%;

    .name {
      display: flex;
      font-size: 17px;
      margin: 10px 0;
    }
  }
  .body {
    height: 100vh;
    display: flex;
    justify-content: space-between;

    // 왼쪽 이미지 업로드 파트

    .Left {
      display: flex;
      flex-direction: column;
      width: 60%;
      align-items: center;
      .Img {
        margin-top: 10vh;
        height: 300px;
        width: 50vh;
        display: flex;
      }
      .Img_label {
        margin-top: 10vh;
        padding: 3px 5px;
        border-radius: 5px;
        background-color: rgba(73, 73, 248, 0.657);
        color: white;
        font-size: 15px;
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        .p {
        }
      }
    }
    // 오른쪽 텍스트 인풋 파트
    .Right {
      // background-color: aqua;
      flex-direction: column;
      width: 40%;
      border-left: 1px solid gray;
      .Img_header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 60px;
        margin: 0 10px;
        .profile_img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .profile_nick {
          margin-left: 5px;
          margin-bottom: 4px;
        }
      }
      .body_right {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        .write_box {
          align-items: flex-start;
          border: 1px solid yellow;
          background: none;
          border: none;
          display: flex;
          outline: none;
          padding: 0;
          resize: none;
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}
