.MainPostForm_Container {
  background-color: rgb(233, 206, 206);
  height: 100vh;
  flex-direction: column;
  //   메인 헤더
  .Title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(223, 222, 222);
    width: 100%;

    .name {
      display: flex;
      font-size: 17px;
      margin: 10px 0;
    }
  }
  .body {
    display: flex;
    justify-content: space-between;

    // 왼쪽 이미지 업로드 파트

    .Left {
      flex-direction: column;
      width: 60%;
      justify-items: center;
      align-content: center;
      .Img {
        margin: 10vh;
        width: 200px;
        height: 200px;
      }
      .Img_label {
        justify-content: center;
        align-items: center;
        padding: 3px 5px;
        border-radius: 5px;
        background-color: rgba(73, 73, 248, 0.657);
        color: white;
        font-size: 15px;
      }
    }
    // 오른쪽 텍스트 인풋 파트
    .Right {
      flex-direction: column;
      width: 40%;
      .Img_header {
        .profile_img {
        }
        .profile_nick {
        }
      }
    }
  }
}
