.loginBackground {
  background-color: #fafafa;
  height: 100vh;
}
.loginContainer {
  // border: 1px solid #dbdbdb
  width: 60%;
  margin: 0px auto;
  display: flex;
  padding-top: 20px;
  border: 1px solid blue;
  height: 100%;
  // min-height: 500px;
  min-width: 600px;
}

// .login_screen1 {
//   height: 581.15px;
//   left: 0;
//   position: absolute;
//   top: 0;
//   visibility: hidden;
//   width: 250px;
//   opacity: 0;
// }
.loginleftContainer {
  // border: 1px solid #dbdbdb;
  width: 50%;
  height: 100%;
  // margin-right: 15px;
  border: 1px solid red;
  background-image: url(https://www.instagram.com/static/images/homepage/phones/home-phones-2x.png/cbc7174b4f05.png);
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
  // float: left;
  img {
    // width: 98%;
    // height: 581.15px;
  }
}
.loginrightContainer {
  width: 50%;
  height: 100%;
}
.loginDiv {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dbdbdb;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  img {
    max-width: 70%;
    max-height: 100%;
    margin-bottom: 12px;
    padding-top: 15px;
  }
  input {
    width: 75%;
    height: 36px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    // margin-bottom: px;
    border-radius: 3px;
    font-size: 12px;
    align-items: center;
    padding-left: 10px;
  }
  button {
    border: none;
    background-color: #b2dffc;
    font: inherit;
    color: white;
    vertical-align: baseline;
    margin: 0 40px 6px;
    width: 75%;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      background-color: #2e95f6;
    }
  }
}
.loginsmallDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kakao {
  font-size: 14px;
  cursor: pointer;
}
.checkpw {
  font-size: 14px;
  color: #385285;
  font-weight: 600;
  margin-bottom: 21px;
  margin-top: 13px;
  cursor: pointer;
}
.siginupPage {
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: white;
  font-size: 14px;

  div {
    font-size: 14px;
    margin-right: 20px;
    // margin: auto;
    &:last-child {
      color: #2e97f6;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
.appBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
  img {
    justify-content: center;
    margin: 10px 0 10px 0;
    width: 250px;
  }
}
