@import "../src/common/colors.scss";

@font-face {
    font-family: "Noto Sans KR";
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
    font-weight: normal;
    font-style: normal;
  }

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}
